name: Verify changes

on: pull_request

jobs:
  verify:
    name: Verify changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - name: Install Dependencies
        run: npm ci

      - name: esmify postcss-calc-value-parser
        run: npm run build:postcss-calc

      - name: Lint
        run: npm run lint

      - name: Install chromium
        run: npx playwright install-deps chromium

      - name: Test
        run: npm run test